<ul class="sidebar-menu" data-widget="tree">
<li class="header">Menu</li>
<!-- Optionally, you can add icons to the links -->
<li class="treeview">
    <li><a href="/Switches">All Switches</a></li>
    <li><a href="/Switches/Create">Add New Switch</a></li>
    <li><a href="/Vlans">All Vlans</a></li>
    <li><a href="/Vlans/Create">Add New Vlan</a></li>
</li>
</ul>